---
import Layout from "../layouts/Layout.astro";
import GlobalStyles from "../components/GlobalStyles.astro";
import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
import Logos from "../components/Logos.astro";
import Features from "../components/Features.astro";
import Benefits from "../components/Benefits.astro";
import Testimonials from "../components/Testimonials.astro";
import Cta from "../components/Cta.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Nexa - Where financial innovation meets your future">
  <div class="page-wrapper">
    <GlobalStyles />
    <Navbar />
    <main class="main-wrapper">
      <Header />
      <Logos />
      <Features />
      <Benefits />
      <Testimonials />
      <Cta />
    </main>
    <Footer />
  </div>
</Layout>
