---

---

<section id="cta" class="section_cta">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-large">
          <div class="text-align-center">
            <div class="margin-bottom margin-small">
              <h2 class="heading-style-h1">
                Transform Your Financial <br />Future with Nexa
              </h2>
            </div>
            <p class="text-size-medium">
              Take the first step towards financial freedom with Nexa&#x27;s
              innovative tools and personalized <br />guidance. Join us now
              and unlock the potential to achieve your financial goals like
              never before.
            </p>
          </div>
          <div class="margin-top margin-medium">
            <div class="max-width-custom align-center">
              <div class="cta26_form-block w-form">
                <form
                  id="email-form"
                  name="email-form"
                  data-name="Email Form"
                  method="get"
                  class="cta26_form"
                  data-wf-page-id="661bb59c7fb20842ab5f4e6f"
                  data-wf-element-id="b123d093-dc49-1720-fad5-6e3816124388"
                >
                  <div class="signup-form-wrapper">
                    <input
                      class="form_input w-input"
                      maxlength="256"
                      name="email-2"
                      data-name="Email 2"
                      placeholder="email@example.com"
                      type="email"
                      id="email-2"
                      required=""
                    /><input
                      type="submit"
                      data-wait="Please wait..."
                      class="button is-small signup-button-desktop w-button"
                      value="Join our waitlist"
                    />
                    <div
                      id="w-node-_62437fa3-1d0d-b141-f7ed-32d213ae0b48-ab5f4e6f"
                      class="button-group"
                    >
                      <div class="button is-icon-only">
                        <div class="icon-embed-xsmall w-embed">
                          <svg
                            width="12"
                            height="13"
                            viewBox="0 0 12 13"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M11 1.31836L1 11.3184M11 1.31836H2M11 1.31836V10.3184"
                              stroke="white"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="success-message w-form-done">
                  <div class="success-text">
                    Thank you! Your submission has been received!
                  </div>
                </div>
                <div class="error-message w-form-fail">
                  <div class="error-text">
                    Oops! Something went wrong while submitting the form.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>