---

---

<section id="features" class="section_home-features">
    <div class="padding-global">
      <div class="container-medium">
        <div class="padding-section-medium">
          <div class="text-align-center">
            <div class="max-width-xlarge align-center">
              <div class="margin-bottom margin-small">
                <h2 class="heading-style-h3">
                  Discover the Next Generation of Financial Solutions at
                  Nexa
                </h2>
              </div>
              <p class="text-size-medium">
                Explore our cutting-edge features designed to personalize
                your financial journey, integrate seamlessly across
                platforms, and ensure the highest standards of security.
                Take control of your finances and unlock new possibilities
                with Nexa today.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-large">
        <div class="padding-section-small">
          <div class="w-layout-grid layout192_component">
            <div
              id="w-node-_2bf7e7c8-54d2-4da5-0b7b-0eecde73fac6-ab5f4e6f"
              class="home_features-item"
            >
              <div
                id="w-node-c07bc741-f034-6b34-f87e-6faa46440891-ab5f4e6f"
                class="layout192_content"
              >
                <div class="margin-bottom margin-xsmall">
                  <div class="tagline-wrapper">
                    <div class="text-weight-semibold green-tagline">
                      Customize
                    </div>
                  </div>
                </div>
                <div class="margin-bottom margin-small">
                  <h3 class="heading-style-h5">Personalized Insights</h3>
                </div>
                <p class="text-size-medium">
                  Gain valuable insights into your financial health with
                  real-time data analysis and personalized recommendations.
                  Our platform dynamically tracks your spending habits,
                  investment performance, and savings goals to provide
                  actionable insights that help you stay on track towards
                  financial success.
                </p>
              </div>
              <div
                id="w-node-c07bc741-f034-6b34-f87e-6faa4644088f-ab5f4e6f"
                class="layout192_image-wrapper first-row"
              >
                <img
                  src="images/spending-habits.png"
                  loading="lazy"
                  sizes="(max-width: 479px) 87vw, (max-width: 767px) 88vw, (max-width: 991px) 14vw, 20vw"
                  srcset="images/spending-habits-p-500.png 500w, images/spending-habits-p-800.png 800w, images/spending-habits-p-1080.png 1080w, images/spending-habits.png 1148w"
                  alt="Spending habits graphic feature image"
                  class="layout192_image _1"
                />
              </div>
            </div>
            <div
              id="w-node-_74c0ad5e-1508-f66f-d763-f68c6137e6e3-ab5f4e6f"
              class="home_features-item"
            >
              <div
                id="w-node-_9b504c82-a7bf-af98-8f5b-ee8a6c526519-ab5f4e6f"
                class="layout192_image-wrapper second-row"
              >
                <img
                  src="images/weekly-equities.png"
                  loading="lazy"
                  sizes="(max-width: 479px) 83vw, (max-width: 767px) 86vw, (max-width: 991px) 15vw, 18vw"
                  srcset="images/weekly-equities-p-500.png 500w, images/weekly-equities-p-800.png 800w, images/weekly-equities.png 948w"
                  alt="Weekly equities graphic"
                  class="layout192_image _2"
                />
              </div>
              <div
                id="w-node-_84f07177-5457-2804-9d46-5b0ae7e69aff-ab5f4e6f"
                class="layout192_content"
              >
                <div class="margin-bottom margin-xsmall">
                  <div class="tagline-wrapper">
                    <div class="text-weight-semibold green-tagline">
                      Advise
                    </div>
                  </div>
                </div>
                <div class="margin-bottom margin-small">
                  <h3 class="heading-style-h5">Expert Guidance</h3>
                </div>
                <p class="text-size-medium">
                  Access expert financial guidance tailored to your unique
                  goals and circumstances. Our team of financial advisors is
                  here to provide personalized recommendations, answer your
                  questions, and offer strategic advice to help you make
                  informed decisions and optimize your financial strategy.
                </p>
              </div>
            </div>
            <div
              id="w-node-d6110e76-898d-3cfd-134d-f1d46e7facf9-ab5f4e6f"
              class="home_features-item"
            >
              <div
                id="w-node-_24b58323-08c1-88c1-a114-f7a3c82d7b92-ab5f4e6f"
                class="layout192_content"
              >
                <div class="margin-bottom margin-xsmall">
                  <div class="tagline-wrapper">
                    <div class="text-weight-semibold green-tagline">
                      Organize
                    </div>
                  </div>
                </div>
                <div class="margin-bottom margin-small">
                  <h3 class="heading-style-h5">Comprehensive Tracking</h3>
                </div>
                <p class="text-size-medium">
                  Stay organized and informed with comprehensive financial
                  tracking tools. Easily monitor all your accounts,
                  transactions, and investments in one centralized
                  dashboard, empowering you to track your progress, identify
                  trends, and take control of your financial future with
                  confidence.
                </p>
              </div>
              <div
                id="w-node-_10e28d98-7189-afd8-58ad-c473932d5f80-ab5f4e6f"
                class="layout192_image-wrapper third-row"
              >
                <img
                  src="images/spending-channels.png"
                  loading="lazy"
                  sizes="(max-width: 767px) 90vw, (max-width: 991px) 12vw, 19vw"
                  srcset="images/spending-channels-p-500.png 500w, images/spending-channels.png 784w"
                  alt="Spending channels graphic
"
                  class="layout192_image _3"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>