---

---

<footer class="footer3_component">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-vertical padding-xxlarge">
          <div class="padding-bottom padding-xxlarge">
            <div class="w-layout-grid footer3_top-wrapper">
              <div class="footer3_left-wrapper">
                <div class="margin-bottom margin-medium">
                  <div class="footer3_details-wrapper">
                    <div class="margin-bottom margin-tiny">
                      <h2>
                        <span class="text-color-white"
                          >Empowering Your Financial Journey</span
                        >
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="margin-bottom margin-medium">
            <a href="#" class="footer3_logo-link w-nav-brand"
              ><img src="images/logo-white.svg" loading="lazy" alt="" /></a
            >
          </div>
          <div class="line-divider"></div>
          <div class="padding-top padding-medium">
            <div class="footer3_bottom-wrapper">
              <div class="footer3_credit-text">© Nexa by ExpertFlow</div>
              <div class="w-layout-grid footer3_legal-list">
                <a href="#features" class="footer3_legal-link">Features</a>
                <a href="#benefits" class="footer3_legal-link">Benefits</a>
                <a href="#testimonials" class="footer3_legal-link"
                  >Testimonials</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>