---

---

<header class="section_home-header">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-large">
          <div class="header26_component">
            <div class="margin-bottom margin-xxlarge">
              <div class="text-align-center">
                <div class="max-width-xlarge">
                  <div class="margin-bottom margin-small">
                    <h1>
                      Where Financial Innovation <br />Meets Your Future
                    </h1>
                  </div>
                  <p class="text-size-medium">
                    At Nexa, we&#x27;re redefining the landscape of finance
                    through cutting-edge technology and forward-thinking
                    solutions. Whether you&#x27;re an individual investor, a
                    growing startup, or an established enterprise,
                    we&#x27;re here to empower you on your financial
                    journey.
                  </p>
                  <div class="margin-top margin-medium">
                    <div class="button-group is-center">
                      <a href="#cta" class="button w-button"
                        >Join Our Waitlist</a
                      >
                      <a
                        href="#features"
                        class="button is-secondary w-button"
                        >Explore Our Features</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="header_image-container">
              <div class="header26_image-wrapper">
                <img
                  src="images/hero-image.png"
                  loading="eager"
                  sizes="(max-width: 991px) 90vw, 864px"
                  srcset="images/hero-image-p-500.png 500w, images/hero-image-p-800.png 800w, images/hero-image-p-1080.png 1080w, images/hero-image-p-1600.png 1600w, images/hero-image.png 1630w"
                  alt="financial graphic - weekly spending, spending channels and income vs spending"
                  class="header26_image"
                />
              </div>
              <div class="gradient-background"></div>
              <div class="gradient-background-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>