---

---

<section class="section_logo">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-medium">
          <div class="logo1_component">
            <img
              src="images/stripe.svg"
              loading="lazy"
              alt="Stripe logo"
              class="logo1_logo"
            /><img
              src="images/afterpay.svg"
              loading="lazy"
              alt="Afterpay company logo"
              class="logo1_logo"
            /><img
              src="images/hopin.svg"
              loading="lazy"
              alt="Hopin company logo"
              class="logo1_logo"
            /><img
              src="images/splunk.svg"
              loading="lazy"
              alt="Splunk company logo"
              class="logo1_logo"
            /><img
              src="images/attentive.svg"
              loading="lazy"
              alt="Attentive company logo"
              class="logo1_logo"
            />
          </div>
        </div>
      </div>
    </div>
  </section>