---

---

<div
      data-animation="default"
      class="navbar1_component w-nav"
      data-easing2="ease"
      fs-scrolldisable-element="smart-nav"
      data-easing="ease"
      data-collapse="medium"
      data-w-id="fa16d0d2-92df-7023-ce77-abc99078ba2b"
      role="banner"
      data-duration="400"
    >
      <div class="navbar1_container">
        <a href="#" class="navbar1_logo-link w-nav-brand"
          ><img
            src="images/logo-black.svg"
            loading="lazy"
            alt=""
            class="navbar1_logo"
          /></a
        >
        <nav
          role="navigation"
          class="navbar1_menu is-page-height-tablet w-nav-menu"
        >
          <a href="#features" class="navbar1_link tablet w-nav-link">Features</a
          >
          <a href="#benefits" class="navbar1_link tablet w-nav-link">Benefits</a
          >
          <a href="#testimonials" class="navbar1_link tablet w-nav-link"
            >Testimonials</a
          >
          <div class="navbar1_menu-buttons">
            <a href="#cta" class="button is-small w-button">Join Our Waitlist</a
            >
          </div>
        </nav>
        <div class="navbar1_menu-button w-nav-button">
          <div class="menu-icon1">
            <div class="menu-icon1_line-top"></div>
            <div class="menu-icon1_line-middle">
              <div class="menu-icon_line-middle-inner"></div>
            </div>
            <div class="menu-icon1_line-bottom"></div>
          </div>
        </div>
      </div>
    </div>